.hero {
  width: 65%;
  background-size: 40%;
  height: 0;
  padding-bottom: 31%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center right;
  border-bottom: 1px solid #002642;
  .caption {
    @extend %container;
  }

  h1 {
    @extend %column;
    @extend %col-xs-8;
    margin: 0;
    padding-top: 13%;

    @media screen and (max-width: $screen-md-max){
      padding-top: 10%;
    }
    @media screen and (max-width: $screen-xs-max){
      padding-top: 5%;
    }
  }
  @media screen and (max-width: 400px){
    padding-bottom: 50%;
  }
}
