<form name="application" method="POST" data-netlify="true">
  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>What company do you work for?<input type="text" name="company" /></label>
  </p>
  <p>
    <label>Notes: <textarea name="notes"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
